---
title: "Abstracting Data Updates over a Document-oriented interface of a Permissioned Decentralized Environment"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Jitse De Smet', 'https://jitsedesmet.be', 'https://jitsedesmet.be/#me' %>

<!--
{:#affiliations}
- {:#myaffiliation} Awesome Inc.
-->

</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'title-page' %>
  <%= section 'preface' %>
  <%= section 'remark' %>
  <%= section 'abstract' %>
  <%= section 'extended-abstract' %>
  <%= section 'toc' %>
  <%= section 'listings' %>



  <%= section 'references-file' %>
  <%= section 'annexes' %>
</main>

<footer></footer>
