---
title: "How to abstract data updates in a permissioned decentralized environment behind a query abstraction layer?"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Jitse De Smet', 'https://jitsedesmet.be', 'https://jitsedesmet.be/#me' %>

<!--
{:#affiliations}
- {:#myaffiliation} Awesome Inc.
-->

<%= section 'abstract' %>
</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %>
  <%= section 'storage-guidance-vocab' %>

  <div id="scholarmarkdown-acronyms-list"></div>
</main>

<footer></footer>
